<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<div><a href="{{ url_for('user.register') }}">注册</a> <a href="{{ url_for('user.login') }}">登录</a> <a href="">退出</a>
</div>
<div>
    <h1>所有用户信息如下：</h1>
    搜索： <input type="text" name="search" placeholder="输入用户名或者手机号码"> <input type="button" value="搜索" id="search">
    {% if users %}
        <table border="1" cellspacing="0" width="50%">
            <tr>
                <th>序号</th>
                <th>用户名</th>
                <th>手机号</th>
                <th>注册时间</th>
                <th>操作</th>
            </tr>
            {% for user in users %}
                <tr>
                    <th>{{ loop.index }}</th>
                    <th>{{ user.username }}</th>
                    <th>{{ user.phone }}</th>
                    <th>{{ user.rdatetime }}</th>
                    <th><a href="{{ url_for('user.update') }}?id={{ user.id }}">更新</a>
                        <a href="{{ url_for('user.delete') }}?id={{ user.id }}">删除</a></th>
                </tr>
            {% endfor %}

        </table>
    {% else %}
        <p style="color: red; font-size: 20px;">当前还没有任何的用户，抓紧时间注册吧！！！</p>
    {% endif %}
</div>
<script>
    $('#search').click(function () {
        let content = $("input[name='search']").val();
        location.href = '{{ url_for('user.search') }}?search=' + content
        // http://127.0.0.1:5000/search?search=zhangsan
    })
</script>
</body>
</html>