# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = dushu_redis.settings

[deploy:100]
url = http://119.3.170.97:6800/
project = dushu_redis
