<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body>
<h1>用户注册</h1>
<form action='{{ url_for('user.register') }}' method="post">
    <p><input type="text" name="username" placeholder="用户名"></p>
    <p><input type="password" name="password" placeholder="密码"></p>
    <p><input type="password" name="repassword" placeholder="确认密码"></p>
    <p><input type="text" name="phone" placeholder="手机号码"></p>
    <p><input type="submit" value="用户注册"></p>
</form>
</body>
</html>